.fc-widget-header {
	display:none;
}

.fc-unthemed .fc-today {
	background: transparent;
}

.fc-head{
	display:none;
}

.fc-toolbar {
	display:none;
}

.fc-time-grid-event .fc-resizer {
	height: 20px;
	line-height: 20px;
}

.fc-time-grid .fc-slats td {
  height: 2em;
}

.fc-time{
	font-weight: 100;
}

.booked .fc-content .fc-time {
	display:none;
}

.booked .fc-content .fc-title {
	display:none;
}
.booked{
	background: repeating-linear-gradient(
	  45deg,
	  #607d8b,
	  #607d8b 3px,
	  #84AEC2 3px,
	  #84AEC2 6px
	);
	opacity:0.8;
}

#calendar{
}